---
version: 2
interactions:
    - id: 0
      request:
        host: doi.org
        headers:
        url: http://doi.org/10.5281/zenodo.3674056
        method: GET
      response:
        body: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>cloudflare</center>\r\n</body>\r\n</html>\r\n"
        headers:
            Content-Type:
                - text/html; charset=UTF-8
            Location:
                - https://doi.org/10.5281/zenodo.3674056
        status: 301 Moved Permanently
        code: 301
        duration: 53.463507ms
    - id: 1
      request:
        host: ""
        headers:
        url: https://doi.org/10.5281/zenodo.3674056
        method: GET
      response:
        body: |-
            <html><head><title>Handle Redirect</title></head>
            <body><a href="https://zenodo.org/doi/10.5281/zenodo.3674056">https://zenodo.org/doi/10.5281/zenodo.3674056</a></body></html>
        headers:
            Content-Type:
                - text/html;charset=utf-8
            Location:
                - https://zenodo.org/doi/10.5281/zenodo.3674056
        status: 302 Found
        code: 302
        duration: 60.057178ms
    - id: 2
      request:
        host: ""
        headers:
        url: https://zenodo.org/doi/10.5281/zenodo.3674056
        method: GET
      response:
        body: |
            <!doctype html>
            <html lang=en>
            <title>Redirecting...</title>
            <h1>Redirecting...</h1>
            <p>You should be redirected automatically to the target URL: <a href="https://zenodo.org/records/3674056">https://zenodo.org/records/3674056</a>. If not, click the link.
        headers:
            Content-Type:
                - text/html; charset=utf-8
            Location:
                - https://zenodo.org/records/3674056
            Retry-After:
                - "21"
            X-Ratelimit-Limit:
                - "133"
            X-Ratelimit-Remaining:
                - "122"
            X-Ratelimit-Reset:
                - "1789557802"
            X-Source:
                - ui
        status: 302 FOUND
        code: 302
        duration: 116.40616ms
    - id: 3
      request:
        host: ""
        headers:
        url: https://zenodo.org/records/3674056
        method: GET
      response:
            - chunked
        body: '(body dropped: this check reads only the status code)'
        headers:
            Content-Type:
                - text/html; charset=utf-8
            Link:
                - <https://orcid.org/0000-0001-8607-8025> ; rel="author" , <https://doi.org/10.5281/zenodo.3674056> ; rel="cite-as" , <https://zenodo.org/api/records/3674056> ; rel="describedby" ; type="application/dcat+xml" , <https://zenodo.org/api/records/3674056> ; rel="describedby" ; type="application/json" , <https://zenodo.org/api/records/3674056> ; rel="describedby" ; type="application/ld+json" , <https://zenodo.org/api/records/3674056> ; rel="describedby" ; type="application/ld+json" ;[...]
    - id: 4
      request:
        host: pub.orcid.org
        headers:
        url: https://pub.orcid.org/v3.0/0000-0001-8607-8025/person
        method: GET
      response:
        body: '{"last-modified-date":{"value":1572037363977},"name":{"created-date":{"value":1460755608732},"last-modified-date":{"value":1460755608732},"given-names":{"value":"Stephen"},"family-name":{"value":"Eglen"},"credit-name":null,"source":null,"visibility":"public","path":"0000-0001-8607-8025"},"other-names":{"last-modified-date":null,"other-name":[],"path":"/0000-0001-8607-8025/other-names"},"biography":null,"researcher-urls":{"last-modified-date":{"value":1572037363977},"researcher-url":[{"created-date":{"value":1405915722009},"last-modified-date":{"value":1572037363977},"source":{"source-orcid":{"uri":"https://orcid.org/0000-0001-8607-8025","path":"0000-0001-8607-8025","host":"orcid.org"},"source-client-id":null,"source-name":{"value":"Stephen Eglen"},"assertion-origin-orcid":null,"assertion-origin-client-id":null,"assertion-origin-name":null},"url-name":"Home page","url":{"value":"https://sje30.github.io"},"visibility":"public","path":"/0000-0001-8607-8025/researcher-urls/308279","put-code":308279,"display-index":0}],"path":"/0000-0001-8607-8025/researcher-urls"},"emails":{"last-modified-date":null,"email":[],"path":"/0000-0001-8607-8025/email"},"addresses":{"last-modified-date":{"value":1465226976952},"address":[{"created-date":{"value":1453658634187},"last-modified-date":{"value":1465226976952},"source":{"source-orcid":{"uri":"https://orcid.org/0000-0001-8607-8025","path":"0000-0001-8607-8025","host":"orcid.org"},"source-client-id":null,"source-name":{"value":"Stephen Eglen"},"assertion-origin-orcid":null,"assertion-origin-client-id":null,"assertion-origin-name":null},"country":{"value":"GB"},"visibility":"public","path":"/0000-0001-8607-8025/address/15623","put-code":15623,"display-index":0}],"path":"/0000-0001-8607-8025/address"},"keywords":{"last-modified-date":null,"keyword":[],"path":"/0000-0001-8607-8025/keywords"},"external-identifiers":{"last-modified-date":null,"external-identifier":[],"path":"/0000-0001-8607-8025/external-identifiers"},"path":"/0000-0001-8607-8025/person"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Target:
                - reg-prod-papi-use2-a1
            X-Via:
                - b2-newvpc
        status: 200 OK
        code: 200
        duration: 177.294232ms
    - id: 5
      request:
        host: doi.org
        headers:
        url: https://doi.org/10.1093/gigascience/giaa026
        method: GET
      response:
        body: |-
            <html><head><title>Handle Redirect</title></head>
            <body><a href="https://academic.oup.com/gigascience/article/doi/10.1093/gigascience/giaa026/5813098">https://academic.oup.com/gigascience/article/doi/10.1093/gigascience/giaa026/5813098</a></body></html>
        headers:
            Content-Type:
                - text/html;charset=utf-8
            Location:
                - https://academic.oup.com/gigascience/article/doi/10.1093/gigascience/giaa026/5813098
        status: 302 Found
        code: 302
        duration: 59.580029ms
    - id: 6
      request:
        host: ""
        headers:
        url: https://academic.oup.com/gigascience/article/doi/10.1093/gigascience/giaa026/5813098
        method: GET
      response:
        body: '(body dropped: this check reads only the status code)'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Bitness, Sec-CH-UA-Arch, Sec-CH-UA-Full-Version, Sec-CH-UA-Mobile, Sec-CH-UA-Model, Sec-CH-UA-Platform-Version, Sec-CH-UA-Full-Version-List, Sec-CH-UA-Platform, Sec-CH-UA, UA-Bitness, UA-Arch, UA-Full-Version, UA-Mobile, UA-Model, UA-Platform-Version, UA-Platform, UA
            Content-Type:
                - text/html; charset=UTF-8
            Critical-Ch:
                - Sec-CH-UA-Bitness, Sec-CH-UA-Arch, Sec-CH-UA-Full-Version, Sec-CH-UA-Mobile, Sec-CH-UA-Model, Sec-CH-UA-Platform-Version, Sec-CH-UA-Full-Version-List, Sec-CH-UA-Platform, Sec-CH-UA, UA-Bitness, UA-Arch, UA-Full-Version, UA-Mobile, UA-Model, UA-Platform-Version, UA-Platform, UA
            Origin-Agent-Cluster:
                - ?1
        status: 403 Forbidden
        code: 403
        duration: 109.354266ms
    - id: 7
      request:
        host: api.crossref.org
        headers:
        url: https://api.crossref.org/works/10.1093/gigascience/giaa026
        method: GET
      response:
        body: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2026,2,26]],"date-time":"2026-02-26T20:38:18Z","timestamp":1772138298509,"version":"3.50.1"},"reference-count":94,"publisher":"Oxford University Press (OUP)","issue":"4","license":[{"start":{"date-parts":[[2020,4,6]],"date-time":"2020-04-06T00:00:00Z","timestamp":1586131200000},"content-version":"vor","delay-in-days":5,"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"funder":[{"DOI":"10.13039\/100006756","name":"Brigham Young University","doi-asserted-by":"publisher","id":[{"id":"10.13039\/100006756","id-type":"DOI","asserted-by":"publisher"}]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2020,4,1]]},"abstract":"<jats:title>Abstract<\/jats:title>\n                  <jats:sec>\n                    <jats:title>Background<\/jats:title>\n                    <jats:p>Classification algorithms assign observations to groups based on patterns in data. The machine-learning community have developed myriad classification algorithms, which are used in diverse life science research domains. Algorithm choice can affect classification accuracy dramatically, so it is crucial that researchers optimize the choice of which algorithm(s) to apply in a given research domain on the basis of empirical evidence. In benchmark studies, multiple algorithms are applied to multiple [...]
    - id: 8
      request:
        host: raw.githubusercontent.com
        headers:
        url: https://raw.githubusercontent.com/codecheckers/Piccolo-2020/HEAD/Figures/Datasets_Basic_AUROC.pdf
        method: GET
      response:
        body: '404: Not Found'
        headers:
            Content-Type:
                - text/plain; charset=utf-8
            Source-Age:
                - "35"
            X-Fastly-Request-Id:
                - d577f1a850028f945e05e0a9ea8cc30cf5b4e753
            X-Github-Edge-Region:
                - fra
        status: 404 Not Found
        code: 404
        duration: 22.14803ms
    - id: 9
      request:
        host: raw.githubusercontent.com
        headers:
        url: https://raw.githubusercontent.com/codecheckers/Piccolo-2020/HEAD/Figures/Predictions_Histograms.pdf
        method: GET
      response:
        body: '404: Not Found'
        headers:
            Content-Type:
                - text/plain; charset=utf-8
            Source-Age:
                - "35"
            X-Fastly-Request-Id:
                - cde33f4b3521c0526a554e58f45dea14d3637d57
            X-Github-Edge-Region:
                - fra
        status: 404 Not Found
        code: 404
        duration: 21.193492ms
    - id: 10
      request:
        host: raw.githubusercontent.com
        headers:
        url: https://raw.githubusercontent.com/codecheckers/Piccolo-2020/HEAD/Figures/Algorithms_ParamsImprovement_AUROC.pdf
        method: GET
      response:
        body: '404: Not Found'
        headers:
            Content-Type:
                - text/plain; charset=utf-8
            Source-Age:
                - "35"
            X-Fastly-Request-Id:
                - 05869aca718ec8980feaad023e87bb108dc89bd6
            X-Github-Edge-Region:
                - fra
        status: 404 Not Found
        code: 404
        duration: 22.040667ms
    - id: 11
      request:
        host: raw.githubusercontent.com
        headers:
        url: https://raw.githubusercontent.com/codecheckers/Piccolo-2020/HEAD/Figures/Algorithms_FSImprovement_AUROC.pdf
        method: GET
      response:
        body: '404: Not Found'
        headers:
            Content-Type:
                - text/plain; charset=utf-8
            Source-Age:
                - "34"
            X-Fastly-Request-Id:
                - 0fd47635baac7ae19ed13770d435881b1aeabadd
            X-Github-Edge-Region:
                - fra
        status: 404 Not Found
        code: 404
        duration: 22.314513ms
    - id: 12
      request:
        host: raw.githubusercontent.com
        headers:
        url: https://raw.githubusercontent.com/codecheckers/Piccolo-2020/HEAD/Figures/FS_vs_CL.pdf
        method: GET
      response:
        body: '404: Not Found'
        headers:
            Content-Type:
                - text/plain; charset=utf-8
            Source-Age:
                - "34"
            X-Fastly-Request-Id:
                - 5023fe0da8256f2ccc31ac9c3933cce1d3cca278
            X-Github-Edge-Region:
                - fra
        status: 404 Not Found
        code: 404
        duration: 22.565656ms
    - id: 13
      request:
        host: raw.githubusercontent.com
        headers:
        url: https://raw.githubusercontent.com/codecheckers/Piccolo-2020/HEAD/Figures/FS_NumFeatures.pdf
        method: GET
      response:
        body: '404: Not Found'
        headers:
            Content-Type:
                - text/plain; charset=utf-8
            Source-Age:
                - "34"
            X-Fastly-Request-Id:
                - da1d07850fa6289fc84efb6dade2673a3be6419d
            X-Github-Edge-Region:
                - fra
        status: 404 Not Found
        code: 404
        duration: 21.383749ms
    - id: 14
      request:
        host: raw.githubusercontent.com
        headers:
        url: https://raw.githubusercontent.com/codecheckers/Piccolo-2020/HEAD/Tables/Basic_DiffFromMedian.tsv
        method: GET
      response:
        body: '404: Not Found'
        headers:
            Content-Type:
                - text/plain; charset=utf-8
            Source-Age:
                - "33"
            X-Fastly-Request-Id:
                - 6e5833a35c6ad912f41fe33706b5da0194b0145d
            X-Github-Edge-Region:
                - fra
        status: 404 Not Found
        code: 404
        duration: 23.951717ms
    - id: 15
      request:
        host: raw.githubusercontent.com
        headers:
        url: https://raw.githubusercontent.com/codecheckers/Piccolo-2020/HEAD/Tables/ParamOpt_Improvement.tsv
        method: GET
      response:
        body: '404: Not Found'
        headers:
            Content-Type:
                - text/plain; charset=utf-8
            Source-Age:
                - "33"
            X-Fastly-Request-Id:
                - d7e902c039f04a794359185aab7fc9649ecc12b1
            X-Github-Edge-Region:
                - fra
        status: 404 Not Found
        code: 404
        duration: 23.483094ms
    - id: 16
      request:
        host: github.com
        headers:
        url: https://github.com/codecheckers/Piccolo-2020
        method: GET
      response:
        body: '(body dropped: this check reads only the status code)'
        headers:
            Content-Type:
                - text/html; charset=utf-8
            Etag:
                - W/"830a30cc16440f99ebcde57f7913a7be"
            X-Github-Edge-Region:
                - fra
        status: 200 OK
        code: 200
        duration: 28.42845ms
    - id: 17
      request:
        host: zenodo.org
        headers:
        url: https://zenodo.org/api/records/3674056
        method: GET
      response:
            - chunked
        body: '{"created": "2020-02-18T19:31:23.331108+00:00", "modified": "2026-08-25T21:23:56.635836+00:00", "id": 3674056, "conceptrecid": "3674055", "doi": "10.5281/zenodo.3674056", "conceptdoi": "10.5281/zenodo.3674055", "doi_url": "https://doi.org/10.5281/zenodo.3674056", "metadata": {"title": "CODECHECK Certificate 2020-001", "doi": "10.5281/zenodo.3674056", "publication_date": "2020-02-18", "description": "<p>CODECHECK Certificate 2020-001</p>\n\n<p>Files relating to this certificate can be found in&nbsp;<a href=\"https://github.com/codecheckers/Piccolo-2020\">https://github.com/codecheckers/Piccolo-2020</a></p>\n\n<p>The paper that was codechecked has now been published in Gigascience:&nbsp;<a href=\"https://doi.org/10.1093/gigascience/giaa026\">https://doi.org/10.1093/gigascience/giaa026</a></p>", "access_right": "open", "creators": [{"name": "Eglen, Stephen J", "affiliation": "University of Cambridge", "orcid": "0000-0001-8607-8025"}], "related_identifiers": [{"identifier": "https://github.com/codecheckers/Piccolo-2020", "relation": "isSupplementedBy", "resource_type": "software", "scheme": "url"}, {"identifier": "10.1093/gigascience/giaa026", "relation": "reviews", "resource_type": "publication-article", "scheme": "doi"}], "language": "eng", "resource_type": {"title": "Report", "type": "publication", "subtype": "report"}, "alternate_identifiers": [{"identifier": "http://cdchck.science/register/certs/2020-001"}, {"identifier": "cdchck.science/register/certs/2020-001"}], "license": {"id": "cc-by-4.0"}, "communities": [{"id": "codecheck"}], "relations": {"version": [{"index": 0, "is_last": true, "parent": {"pid_type": "recid", "pid_value": "3674055"}}]}}, "title": "CODECHECK Certificate 2020-001", "links": {"self": "https://zenodo.org/api/records/3674056", "self_html": "https://zenodo.org/records/3674056", "preview_html": "https://zenodo.org/records/3674056?preview=1", "doi": "https://doi.org/10.5281/zenodo.3674056", "self_doi": "https://doi.org/10.5281/zenodo.3674056", "self_doi_html": "https://zenodo.org/doi/10.5281/zenodo.3674056", "reserve_doi": "https://zenodo.org/api/records/3674056/draft/pids/doi", "parent": "https://zenodo.org/api/records/3674055", "parent_html": "https://zenodo.org/records/3674055", "parent_doi": "https://doi.org/10.5281/zenodo.3674055", "parent_doi_html": "https://zenodo.org/doi/10.5281/zenodo.3674055", "self_iiif_manifest": "https://zenodo.org/api/iiif/record:3674056/manifest", "self_iiif_sequence": "https://zenodo.org/api/iiif/record:3674056/sequence/default", "files": "https://zenodo.org/api/records/3674056/files", "media_files": "https://zenodo.org/api/records/3674056/media-files", "thumbnails": {"10": "https://zenodo.org/api/iiif/record:3674056:codecheck.pdf/full/%5E10,/0/default.jpg", "50": "https://zenodo.org/api/iiif/record:3674056:codecheck.pdf/full/%5E50,/0/default.jpg", "100": "https://zenodo.org/api/iiif/record:3674056:codecheck.pdf/full/%5E100,/0/default.jpg", "250": "https://zenodo.org/api/iiif/record:3674056:codecheck.pdf/full/%5E250,/0/default.jpg", "750": "https://zenodo.org/api/iiif/record:3674056:codecheck.pdf/full/%5E750,/0/default.jpg", "1200": "https://zenodo.org/api/iiif/record:3674056:codecheck.pdf/full/%5E1200,/0/default.jpg"}, "archive": "https://zenodo.org/api/records/3674056/files-archive", "archive_media": "https://zenodo.org/api/records/3674056/media-files-archive", "latest": "https://zenodo.org/api/records/3674056/versions/latest", "latest_html": "https://zenodo.org/records/3674056/latest", "versions": "https://zenodo.org/api/records/3674056/versions", "draft": "https://zenodo.org/api/records/3674056/draft", "access_links": "https://zenodo.org/api/records/3674056/access/links", "access_grants": "https://zenodo.org/api/records/3674056/access/grants", "access_users": "https://zenodo.org/api/records/3674056/access/users", "access_request": "https://zenodo.org/api/records/3674056/access/request", "access": "https://zenodo.org/api/records/3674056/access", "communities": "https://zenodo.org/api/records/3674056/communities", "communities-suggestions": "https://zenodo.org/api/records/3674056/communities-suggestions", "request_deletion": "https://zenodo.org/api/records/3674056/request-deletion", "file_modification": "https://zenodo.org/api/records/3674056/file-modification", "quota_increase": "https://zenodo.org/api/records/3674056/quota-increase", "requests": "https://zenodo.org/api/records/3674056/requests"}, "updated": "2026-08-25T21:23:56.635836+00:00", "recid": "3674056", "revision": 11, "files": [{"id": "98fd5c89-bb3c-4bfa-95c3-19cc5d6e76c3", "key": "codecheck.pdf", "size": 226842, "checksum": "md5:cee2e5fd3381b0a2173f2b8639e5d1d3", "links": {"self": "https://zenodo.org/api/records/3674056/files/codecheck.pdf/content"}}], "swh": {}, "owners": [{"id": "5138"}], "status": "published", "stats": {"downloads": 635, "unique_downloads": 547, "views": 1386, "unique_views": 1158, "version_downloads": 634, "version_unique_downloads": 546, "version_unique_views": 1156, "version_views": 1384}, "state": "done", "submitted": true}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"11"
            Link:
                - <https://zenodo.org/api/records/3674056> ; rel="linkset" ; type="application/linkset+json"
            Retry-After:
                - "18"
            X-Ratelimit-Limit:
                - "133"
            X-Ratelimit-Remaining:
                - "120"
            X-Ratelimit-Reset:
                - "1789557802"
            X-Source:
                - api
        status: 200 OK
        code: 200
        duration: 152.972789ms
    - id: 18
      request:
        host: raw.githubusercontent.com
        headers:
        url: https://raw.githubusercontent.com/codecheckers/register/HEAD/register.csv
        method: GET
      response:
        body: |
            Certificate,Repository,Type,Venue,Issue,Wikidata
            2020-001,github::codecheckers/Piccolo-2020,journal,GigaScience,NA,Q116702174
            2020-002,github::codecheckers/Reproduction-Hancock,community,codecheck,2,Q141269512
            2020-003,github::c[...]
    - id: 19
      request:
        host: raw.githubusercontent.com
        headers:
        url: https://raw.githubusercontent.com/codecheckers/register/HEAD/venues.csv
        method: GET
      response:
        body: |
            name,longname,label,logo_url,website_url,policy_url,publisher,contact_name,contact_email,description,identifiers,wikidata
            GigaScience,GigaScience,journal,https://codecheck.org.uk/img/gigascience_logo.svg,https://academic.oup.com/gigascience,http://gigasc[...]
    - id: 20
      request:
        host: api.github.com
        headers:
        url: https://api.github.com/repos/codecheckers/register/issues/NA
        method: GET
      response:
        body: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/issues/issues#get-an-issue","status":"404"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Edge-Region:
                - fra
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "60"
            X-Ratelimit-Remaining:
                - "38"
            X-Ratelimit-Reset:
                - "1789560507"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "22"
        status: 404 Not Found
        code: 404
        duration: 28.78425ms
[...]
