---
version: 2
interactions:
    - id: 0
      request:
        host: doi.org
        headers:
        url: http://doi.org/10.5281/zenodo.3674056
        method: GET
      response:
        body: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>cloudflare</center>\r\n</body>\r\n</html>\r\n"
        headers:
            Content-Type:
                - text/html; charset=UTF-8
            Location:
                - https://doi.org/10.5281/zenodo.3674056
        status: 301 Moved Permanently
        code: 301
        duration: 34.867849ms
    - id: 1
      request:
        host: ""
        headers:
        url: https://doi.org/10.5281/zenodo.3674056
        method: GET
      response:
        body: |-
            <html><head><title>Handle Redirect</title></head>
            <body><a href="https://zenodo.org/doi/10.5281/zenodo.3674056">https://zenodo.org/doi/10.5281/zenodo.3674056</a></body></html>
        headers:
            Content-Type:
                - text/html;charset=utf-8
            Location:
                - https://zenodo.org/doi/10.5281/zenodo.3674056
        status: 302 Found
        code: 302
        duration: 49.983209ms
    - id: 2
      request:
        host: ""
        headers:
        url: https://zenodo.org/doi/10.5281/zenodo.3674056
        method: GET
      response:
        body: |
            <!doctype html>
            <html lang=en>
            <title>Redirecting...</title>
            <h1>Redirecting...</h1>
            <p>You should be redirected automatically to the target URL: <a href="https://zenodo.org/records/3674056">https://zenodo.org/records/3674056</a>. If not, click the link.
        headers:
            Content-Type:
                - text/html; charset=utf-8
            Location:
                - https://zenodo.org/records/3674056
            Retry-After:
                - "55"
            X-Ratelimit-Limit:
                - "133"
            X-Ratelimit-Remaining:
                - "129"
            X-Ratelimit-Reset:
                - "1789761620"
            X-Source:
                - ui
        status: 302 FOUND
        code: 302
        duration: 194.956966ms
    - id: 3
      request:
        host: ""
        headers:
        url: https://zenodo.org/records/3674056
        method: GET
      response:
            - chunked
        body: '(body dropped: this check reads only the status code)'
        headers:
            Content-Type:
                - text/html; charset=utf-8
            Link:
                - <https://orcid.org/0000-0001-8607-8025> ; rel="author" , <https://doi.org/10.5281/zenodo.3674056> ; rel="cite-as" , <https://zenodo.org/api/records/3674056> ; rel="describedby" ; type="application/dcat+xml" , <https://zenodo.org/api/records/3674056> ; rel="describedby" ; type="application/json" , <https://zenodo.org/api/records/3674056> ; rel="describedby" ; type="application/ld+json" , <https://zenodo.org/api/records/3674056> ; rel="describedby" ; type="application/ld+json" ;[...]
    - id: 4
      request:
        host: pub.orcid.org
        headers:
        url: https://pub.orcid.org/v3.0/0000-0001-8607-8025/person
        method: GET
      response:
        body: '{"last-modified-date":{"value":1572037363977},"name":{"created-date":{"value":1460755608732},"last-modified-date":{"value":1460755608732},"given-names":{"value":"Stephen"},"family-name":{"value":"Eglen"},"credit-name":null,"source":null,"visibility":"public","path":"0000-0001-8607-8025"},"other-names":{"last-modified-date":null,"other-name":[],"path":"/0000-0001-8607-8025/other-names"},"biography":null,"researcher-urls":{"last-modified-date":{"value":1572037363977},"researcher-url":[{"created-date":{"value":1405915722009},"last-modified-date":{"value":1572037363977},"source":{"source-orcid":{"uri":"https://orcid.org/0000-0001-8607-8025","path":"0000-0001-8607-8025","host":"orcid.org"},"source-client-id":null,"source-name":{"value":"Stephen Eglen"},"assertion-origin-orcid":null,"assertion-origin-client-id":null,"assertion-origin-name":null},"url-name":"Home page","url":{"value":"https://sje30.github.io"},"visibility":"public","path":"/0000-0001-8607-8025/researcher-urls/308279","put-code":308279,"display-index":0}],"path":"/0000-0001-8607-8025/researcher-urls"},"emails":{"last-modified-date":null,"email":[],"path":"/0000-0001-8607-8025/email"},"addresses":{"last-modified-date":{"value":1465226976952},"address":[{"created-date":{"value":1453658634187},"last-modified-date":{"value":1465226976952},"source":{"source-orcid":{"uri":"https://orcid.org/0000-0001-8607-8025","path":"0000-0001-8607-8025","host":"orcid.org"},"source-client-id":null,"source-name":{"value":"Stephen Eglen"},"assertion-origin-orcid":null,"assertion-origin-client-id":null,"assertion-origin-name":null},"country":{"value":"GB"},"visibility":"public","path":"/0000-0001-8607-8025/address/15623","put-code":15623,"display-index":0}],"path":"/0000-0001-8607-8025/address"},"keywords":{"last-modified-date":null,"keyword":[],"path":"/0000-0001-8607-8025/keywords"},"external-identifiers":{"last-modified-date":null,"external-identifier":[],"path":"/0000-0001-8607-8025/external-identifiers"},"path":"/0000-0001-8607-8025/person"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Target:
                - reg-prod-papi-use2-a1
            X-Via:
                - b2-newvpc
        status: 200 OK
        code: 200
        duration: 151.790746ms
    - id: 5
      request:
        host: doi.org
        headers:
        url: https://doi.org/10.1093/gigascience/giaa026
        method: GET
      response:
        body: |-
            <html><head><title>Handle Redirect</title></head>
            <body><a href="https://academic.oup.com/gigascience/article/doi/10.1093/gigascience/giaa026/5813098">https://academic.oup.com/gigascience/article/doi/10.1093/gigascience/giaa026/5813098</a></body></html>
        headers:
            Content-Type:
                - text/html;charset=utf-8
            Location:
                - https://academic.oup.com/gigascience/article/doi/10.1093/gigascience/giaa026/5813098
        status: 302 Found
        code: 302
        duration: 49.74021ms
    - id: 6
      request:
        host: ""
        headers:
        url: https://academic.oup.com/gigascience/article/doi/10.1093/gigascience/giaa026/5813098
        method: GET
      response:
        body: '(body dropped: this check reads only the status code)'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Bitness, Sec-CH-UA-Arch, Sec-CH-UA-Full-Version, Sec-CH-UA-Mobile, Sec-CH-UA-Model, Sec-CH-UA-Platform-Version, Sec-CH-UA-Full-Version-List, Sec-CH-UA-Platform, Sec-CH-UA, UA-Bitness, UA-Arch, UA-Full-Version, UA-Mobile, UA-Model, UA-Platform-Version, UA-Platform, UA
            Content-Type:
                - text/html; charset=UTF-8
            Critical-Ch:
                - Sec-CH-UA-Bitness, Sec-CH-UA-Arch, Sec-CH-UA-Full-Version, Sec-CH-UA-Mobile, Sec-CH-UA-Model, Sec-CH-UA-Platform-Version, Sec-CH-UA-Full-Version-List, Sec-CH-UA-Platform, Sec-CH-UA, UA-Bitness, UA-Arch, UA-Full-Version, UA-Mobile, UA-Model, UA-Platform-Version, UA-Platform, UA
            Origin-Agent-Cluster:
                - ?1
        status: 403 Forbidden
        code: 403
        duration: 75.722393ms
    - id: 7
      request:
        host: api.openalex.org
        form:
            filter:
                - doi:10.1093/gigascience/giaa026
            mailto:
                - chekhov@cdchck.science
        headers:
        url: https://api.openalex.org/works?filter=doi:10.1093%2Fgigascience%2Fgiaa026&mailto=chekhov%40cdchck.science
        method: GET
      response:
        body: '{"meta": {"count": 1, "db_response_time_ms": 16, "page": 1, "per_page": 25, "groups_count": null, "x_query": {"oql": "works where DOI is (10.1093/gigascience/giaa026)", "oqo": {"get_rows": "works", "filter_rows": [{"column_id": "doi", "value": "10.1093/gigascience/giaa026"}]}, "url": "/works?filter=doi:10.1093%2Fgigascience%2Fgiaa026"}, "cost_usd": 0.0001}, "results": [{"id": "https://openalex.org/W3014157798", "doi": "https://doi.org/10.1093/gigascience/giaa026", "title": "ShinyLearner: A containerized benchmarking tool for machine-learning classification of tabular data", "display_name": "ShinyLearner: A containerized benchmarking tool for machine-learning classification of tabular data", "publication_year": 2020, "publication_date": "2020-04-01", "ids": {"openalex": "https://openalex.org/W3014157798", "doi": "https://doi.org/10.1093/gigascience/giaa026", "mag": "3014157798", "pmid": "https://pubmed.ncbi.nlm.nih.gov/32249316"}, "language": "en", "primary_location": {"id": "doi:10.1093/gigascience/giaa026", "is_oa": true, "landing_page_url": "https://doi.org/10.1093/gigascience/giaa026", "pdf_url": "https://academic.oup.com/gigascience/article-pdf/9/4/giaa026/32975796/giaa026.pdf", "source": {"id": "https://openalex.org/S2735135405", "display_name": "GigaScience", "issn_l": "2047-217X", "issn": ["2047-217X"], "is_oa": true, "is_in_doaj": true, "is_core": true, "listed_in": ["doyens", "cwts-core", "doaj"], "host_organization": "https://openalex.org/P4310311647", "host_organization_name": "University of Oxford", "host_organization_lineage": ["https://openalex.org/P4310311647"], "host_organization_lineage_names": ["University of Oxford"], "type": "journal"}, "license": "cc-by", "license_id": "https://openalex.org/licenses/cc-by", "version": "publishedVersion", "is_accepted": true, "is_published": true, "raw_source_name": "GigaScience", "raw_type": "journal-article"}, "type": "article", "indexed_in": ["crossref", "doaj", "pubmed"], "open_access": {"is_oa": true, "oa_status": "gold", "oa_url": "https://academic.oup.com/gigascience/article-pdf/9/4/giaa026/32975796/giaa026.pdf", "any_repository_has_fulltext": true}, "authorships": [{"author_position": "first", "author": {"id": "https://openalex.org/A5005005415", "display_name": "Stephen Piccolo", "orcid": "https://orcid.org/0000-0003-2001-5640"}, "institutions": [{"id": "https://openalex.org/I100005738", "display_name": "Brigham Young University", "ror": "https://ror.org/047rhhm47", "country_code": "US", "type": "education", "lineage": ["https://openalex.org/I100005738"]}], "countries": ["US"], "is_corresponding": true, "raw_author_name": "Stephen R Piccolo", "raw_affiliation_strings": ["Department of Biology, Brigham Young University, 4102 Life Sciences Building , Provo, UT, 84602,", "Department of Biology, Brigham Young University, 4102 Life Sciences Building, Provo, UT, 84602, USA"], "raw_orcid": "https://orcid.org/0000-0003-2001-5640", "affiliations": [{"raw_affiliation_string": "Department of Biology, Brigham Young University, 4102 Life Sciences Building , Provo, UT, 84602,", "institution_ids": ["https://openalex.org/I100005738"]}, {"raw_affiliation_string": "Department of Biology, Brigham Young University, 4102 Life Sciences Building, Provo, UT, 84602, USA", "institution_ids": ["https://openalex.org/I100005738"]}]}, {"author_position": "middle", "author": {"id": "https://openalex.org/A5037142604", "display_name": "Terry J. Lee", "orcid": null}, "institutions": [{"id": "https://openalex.org/I100005738", "display_name": "Brigham Young University", "ror": "https://ror.org/047rhhm47", "c[...]
    - id: 8
      request:
        host: github.com
        headers:
        url: https://github.com/codecheckers/Piccolo-2020
        method: GET
      response:
        body: '(body dropped: this check reads only the status code)'
        headers:
            Content-Type:
                - text/html; charset=utf-8
            Etag:
                - W/"b3164a3443be21b471eb99dd23cad414"
            X-Github-Edge-Region:
                - fra
        status: 200 OK
        code: 200
        duration: 596.410309ms
    - id: 9
      request:
        host: zenodo.org
        headers:
        url: https://zenodo.org/api/records/3674056
        method: GET
      response:
            - chunked
        body: '{"created": "2020-02-18T19:31:23.331108+00:00", "modified": "2026-08-25T21:23:56.635836+00:00", "id": 3674056, "conceptrecid": "3674055", "doi": "10.5281/zenodo.3674056", "conceptdoi": "10.5281/zenodo.3674055", "doi_url": "https://doi.org/10.5281/zenodo.3674056", "metadata": {"title": "CODECHECK Certificate 2020-001", "doi": "10.5281/zenodo.3674056", "publication_date": "2020-02-18", "description": "<p>CODECHECK Certificate 2020-001</p>\n\n<p>Files relating to this certificate can be found in&nbsp;<a href=\"https://github.com/codecheckers/Piccolo-2020\">https://github.com/codecheckers/Piccolo-2020</a></p>\n\n<p>The paper that was codechecked has now been published in Gigascience:&nbsp;<a href=\"https://doi.org/10.1093/gigascience/giaa026\">https://doi.org/10.1093/gigascience/giaa026</a></p>", "access_right": "open", "creators": [{"name": "Eglen, Stephen J", "affiliation": "University of Cambridge", "orcid": "0000-0001-8607-8025"}], "related_identifiers": [{"identifier": "https://github.com/codecheckers/Piccolo-2020", "relation": "isSupplementedBy", "resource_type": "software", "scheme": "url"}, {"identifier": "10.1093/gigascience/giaa026", "relation": "reviews", "resource_type": "publication-article", "scheme": "doi"}], "language": "eng", "resource_type": {"title": "Report", "type": "publication", "subtype": "report"}, "alternate_identifiers": [{"identifier": "http://cdchck.science/register/certs/2020-001"}, {"identifier": "cdchck.science/register/certs/2020-001"}], "license": {"id": "cc-by-4.0"}, "communities": [{"id": "codecheck"}], "relations": {"version": [{"index": 0, "is_last": true, "parent": {"pid_type": "recid", "pid_value": "3674055"}}]}}, "title": "CODECHECK Certificate 2020-001", "links": {"self": "https://zenodo.org/api/records/3674056", "self_html": "https://zenodo.org/records/3674056", "preview_html": "https://zenodo.org/records/3674056?preview=1", "doi": "https://doi.org/10.5281/zenodo.3674056", "self_doi": "https://doi.org/10.5281/zenodo.3674056", "self_doi_html": "https://zenodo.org/doi/10.5281/zenodo.3674056", "reserve_doi": "https://zenodo.org/api/records/3674056/draft/pids/doi", "parent": "https://zenodo.org/api/records/3674055", "parent_html": "https://zenodo.org/records/3674055", "parent_doi": "https://doi.org/10.5281/zenodo.3674055", "parent_doi_html": "https://zenodo.org/doi/10.5281/zenodo.3674055", "self_iiif_manifest": "https://zenodo.org/api/iiif/record:3674056/manifest", "self_iiif_sequence": "https://zenodo.org/api/iiif/record:3674056/sequence/default", "files": "https://zenodo.org/api/records/3674056/files", "media_files": "https://zenodo.org/api/records/3674056/media-files", "thumbnails": {"10": "https://zenodo.org/api/iiif/record:3674056:codecheck.pdf/full/%5E10,/0/default.jpg", "50": "https://zenodo.org/api/iiif/record:3674056:codecheck.pdf/full/%5E50,/0/default.jpg", "100": "https://zenodo.org/api/iiif/record:3674056:codecheck.pdf/full/%5E100,/0/default.jpg", "250": "https://zenodo.org/api/iiif/record:3674056:codecheck.pdf/full/%5E250,/0/default.jpg", "750": "https://zenodo.org/api/iiif/record:3674056:codecheck.pdf/full/%5E750,/0/default.jpg", "1200": "https://zenodo.org/api/iiif/record:3674056:codecheck.pdf/full/%5E1200,/0/default.jpg"}, "archive": "https://zenodo.org/api/records/3674056/files-archive", "archive_media": "https://zenodo.org/api/records/3674056/media-files-archive", "latest": "https://zenodo.org/api/records/3674056/versions/latest", "latest_html": "https://zenodo.org/records/3674056/latest", "versions": "https://zenodo.org/api/records/3674056/versions", "draft": "https://zenodo.org/api/records/3674056/draft", "access_links": "https://zenodo.org/api/records/3674056/access/links", "access_grants": "https://zenodo.org/api/records/3674056/access/grants", "access_users": "https://zenodo.org/api/records/3674056/access/users", "access_request": "https://zenodo.org/api/records/3674056/access/request", "access": "https://zenodo.org/api/records/3674056/access", "communities": "https://zenodo.org/api/records/3674056/communities", "communities-suggestions": "https://zenodo.org/api/records/3674056/communities-suggestions", "request_deletion": "https://zenodo.org/api/records/3674056/request-deletion", "file_modification": "https://zenodo.org/api/records/3674056/file-modification", "quota_increase": "https://zenodo.org/api/records/3674056/quota-increase", "requests": "https://zenodo.org/api/records/3674056/requests"}, "updated": "2026-08-25T21:23:56.635836+00:00", "recid": "3674056", "revision": 11, "files": [{"id": "98fd5c89-bb3c-4bfa-95c3-19cc5d6e76c3", "key": "codecheck.pdf", "size": 226842, "checksum": "md5:cee2e5fd3381b0a2173f2b8639e5d1d3", "links": {"self": "https://zenodo.org/api/records/3674056/files/codecheck.pdf/content"}}], "swh": {}, "owners": [{"id": "5138"}], "status": "published", "stats": {"downloads": 638, "unique_downloads": 550, "views": 1398, "unique_views": 1170, "version_downloads": 637, "version_unique_downloads": 549, "version_unique_views": 1168, "version_views": 1396}, "state": "done", "submitted": true}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"11"
            Link:
                - <https://zenodo.org/api/records/3674056> ; rel="linkset" ; type="application/linkset+json"
            Retry-After:
                - "52"
            X-Ratelimit-Limit:
                - "133"
            X-Ratelimit-Remaining:
                - "127"
            X-Ratelimit-Reset:
                - "1789761620"
            X-Source:
                - api
        status: 200 OK
        code: 200
        duration: 494.401742ms
    - id: 10
      request:
        host: raw.githubusercontent.com
        headers:
        url: https://raw.githubusercontent.com/codecheckers/register/HEAD/register.csv
        method: GET
      response:
        body: |
            Certificate,Repository,Type,Venue,Issue,Wikidata
            2020-001,github::codecheckers/Piccolo-2020,journal,GigaScience,NA,Q116702174
            2020-002,github::codecheckers/Reproduction-Hancock,community,codecheck,2,Q141269512
            2020-003,github::c[...]
    - id: 11
      request:
        host: raw.githubusercontent.com
        headers:
        url: https://raw.githubusercontent.com/codecheckers/register/HEAD/venues.csv
        method: GET
      response:
        body: |
            name,longname,label,logo_url,website_url,policy_url,publisher,contact_name,contact_email,description,identifiers,wikidata,fediverse,hashtags
            GigaScience,GigaScience,journal,https://codecheck.org.uk/img/gigascience_logo.svg,https://academic.oup.com/gigasc[...]
    - id: 12
      request:
        host: api.github.com
        headers:
        url: https://api.github.com/repos/codecheckers/register/issues/NA
        method: GET
      response:
        body: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/issues/issues#get-an-issue","status":"404"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Github-Authentication-Token-Expiration:
                - 2027-09-19 09:47:28 UTC
            X-Accepted-Github-Permissions:
                - issues=read
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Edge-Region:
                - fra
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4998"
            X-Ratelimit-Reset:
                - "1789763991"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "2"
        status: 404 Not Found
        code: 404
        duration: 214.876982ms
[...]
