---
version: 2
interactions:
    - id: 0
      request:
        host: doi.org
        headers:
        url: https://doi.org/10.5281/zenodo.18890103
        method: GET
      response:
        body: |-
            <html><head><title>Handle Redirect</title></head>
            <body><a href="https://zenodo.org/doi/10.5281/zenodo.18890103">https://zenodo.org/doi/10.5281/zenodo.18890103</a></body></html>
        headers:
            Content-Type:
                - text/html;charset=utf-8
            Location:
                - https://zenodo.org/doi/10.5281/zenodo.18890103
        status: 302 Found
        code: 302
        duration: 58.732312ms
    - id: 1
      request:
        host: ""
        headers:
        url: https://zenodo.org/doi/10.5281/zenodo.18890103
        method: GET
      response:
        body: |
            <!doctype html>
            <html lang=en>
            <title>Redirecting...</title>
            <h1>Redirecting...</h1>
            <p>You should be redirected automatically to the target URL: <a href="https://zenodo.org/records/18890103">https://zenodo.org/records/18890103</a>. If not, click the link.
        headers:
            Content-Type:
                - text/html; charset=utf-8
            Location:
                - https://zenodo.org/records/18890103
            Retry-After:
                - "18"
            X-Ratelimit-Limit:
                - "133"
            X-Ratelimit-Remaining:
                - "119"
            X-Ratelimit-Reset:
                - "1789557802"
            X-Source:
                - ui
        status: 302 FOUND
        code: 302
        duration: 152.190716ms
    - id: 2
      request:
        host: ""
        headers:
        url: https://zenodo.org/records/18890103
        method: GET
      response:
            - chunked
        body: '(body dropped: this check reads only the status code)'
        headers:
            Content-Type:
                - text/html; charset=utf-8
            Link:
                - <https://orcid.org/0009-0003-3725-9454> ; rel="author" , <https://orcid.org/0009-0005-9240-7370> ; rel="author" , <https://doi.org/10.5281/zenodo.18890103> ; rel="cite-as" , <https://zenodo.org/api/records/18890103> ; rel="describedby" ; type="application/dcat+xml" , <https://zenodo.org/api/records/18890103> ; rel="describedby" ; type="application/json" , <https://zenodo.org/api/records/18890103> ; rel="describedby" ; type="application/ld+json" , <https://zenodo.org/api/record[...]
    - id: 3
      request:
        host: pub.orcid.org
        headers:
        url: https://pub.orcid.org/v3.0/0000-0003-3164-5648/person
        method: GET
      response:
        body: '{"last-modified-date":{"value":1674295710314},"name":{"created-date":{"value":1657618979696},"last-modified-date":{"value":1657709583175},"given-names":{"value":"Jelle Agatho Wilhelm"},"family-name":{"value":"Poland"},"credit-name":{"value":"J.A.W.Poland"},"source":null,"visibility":"public","path":"0000-0003-3164-5648"},"other-names":{"last-modified-date":null,"other-name":[],"path":"/0000-0003-3164-5648/other-names"},"biography":null,"researcher-urls":{"last-modified-date":{"value":1668746464741},"researcher-url":[{"created-date":{"value":1668746464741},"last-modified-date":{"value":1668746464741},"source":{"source-orcid":null,"source-client-id":{"uri":"https://orcid.org/client/APP-K1RFUENXTHHY2XLK","path":"APP-K1RFUENXTHHY2XLK","host":"orcid.org"},"source-name":{"value":"Delft University of Technology"},"assertion-origin-orcid":null,"assertion-origin-client-id":null,"assertion-origin-name":null},"url-name":"Delft University of Technology profile page","url":{"value":"https://research.tudelft.nl/en/persons/c115aaaf-d737-4e21-a12e-4516efd89203"},"visibility":"public","path":"/0000-0003-3164-5648/researcher-urls/3494966","put-code":3494966,"display-index":0}],"path":"/0000-0003-3164-5648/researcher-urls"},"emails":{"last-modified-date":null,"email":[],"path":"/0000-0003-3164-5648/email"},"addresses":{"last-modified-date":null,"address":[],"path":"/0000-0003-3164-5648/address"},"keywords":{"last-modified-date":null,"keyword":[],"path":"/0000-0003-3164-5648/keywords"},"external-identifiers":{"last-modified-date":{"value":1674295710314},"external-identifier":[{"created-date":{"value":1674295710314},"last-modified-date":{"value":1674295710314},"source":{"source-orcid":null,"source-client-id":{"uri":"https://orcid.org/client/APP-WRQOUAK78G5F7GMD","path":"APP-WRQOUAK78G5F7GMD","host":"orcid.org"},"source-name":{"value":"Multidisciplinary Digital Publishing Institute"},"assertion-origin-orcid":null,"assertion-origin-client-id":null,"assertion-origin-name":null},"external-id-type":"SciProfiles","external-id-value":"2728943","external-id-url":{"value":"https://sciprofiles.com/profile/2728943"},"external-id-relationship":"self","visibility":"public","path":"/0000-0003-3164-5648/external-identifiers/2859062","put-code":2859062,"display-index":0}],"path":"/0000-0003-3164-5648/external-identifiers"},"path":"/0000-0003-3164-5648/person"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Target:
                - reg-prod-papi-use2-a1
            X-Via:
                - b2-newvpc
        status: 200 OK
        code: 200
        duration: 153.390176ms
[...]
    - id: 5
      request:
        host: doi.org
        headers:
        url: https://doi.org/10.5194/wes-2025-217
        method: GET
      response:
        body: |-
            <html><head><title>Handle Redirect</title></head>
            <body><a href="https://wes.copernicus.org/articles/11/1461/2026/wes-11-1461-2026-discussion.html">https://wes.copernicus.org/articles/11/1461/2026/wes-11-1461-2026-discussion.html</a></body></html>
        headers:
            Content-Type:
                - text/html;charset=utf-8
            Location:
                - https://wes.copernicus.org/articles/11/1461/2026/wes-11-1461-2026-discussion.html
        status: 302 Found
        code: 302
        duration: 184.297414ms
    - id: 6
      request:
        host: ""
        headers:
        url: https://wes.copernicus.org/articles/11/1461/2026/wes-11-1461-2026-discussion.html
        method: GET
      response:
        body: '(body dropped: this check reads only the status code)'
        headers:
            Content-Type:
                - text/html
        status: 200 OK
        code: 200
        duration: 124.598602ms
    - id: 7
      request:
        host: api.crossref.org
        headers:
        url: https://api.crossref.org/works/10.5194/wes-2025-217
        method: GET
      response:
        body: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2026,9,12]],"date-time":"2026-09-12T22:49:08Z","timestamp":1789253348044,"version":"build-2803163510"},"posted":{"date-parts":[[2025,10,30]]},"group-title":"Wind technologies\/Airborne technology","reference-count":0,"publisher":"Copernicus GmbH","license":[{"start":{"date-parts":[[2025,10,30]],"date-time":"2025-10-30T00:00:00Z","timestamp":1761782400000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"funder":[{"DOI":"10.13039\/100010661","name":"Horizon 2020 Framework Programme","doi-asserted-by":"publisher","award":["101084216"],"award-info":[{"award-number":["101084216"]}],"id":[{"id":"10.13039\/100010661","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100003246","name":"Nederlandse Organisatie voor Wetenschappelijk Onderzoek","doi-asserted-by":"publisher","award":["17628"],"award-info":[{"award-number":["17628"]}],"id":[{"id":"10.13039\/501100003246","id-type":"DOI","asserted-by":"publisher"}]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"abstract":"<jats:p>Abstract. Leading-edge inflatable (LEI) kites are characterized by a pronounced downward curvature of the wing and flow recirculation zones on the pressure side. This study presents novel stereoscopic particle image velocimetry (PIV) measurements of a 1:6.5 rigid scale model of the TU Delft V3 LEI kite. The flow-field measurements were conducted in the Open Jet Facility of Delft University of Technology for two angles of attack and seven chordwise measurement planes positioned between mid-span a[...]
    - id: 8
      request:
        host: arxiv.org
        headers:
        url: https://arxiv.org/abs/2001.10641
        method: GET
      response:
        body: '(body dropped: this check reads only the status code)'
        headers:
            Content-Type:
                - text/html; charset=utf-8
            Last-Modified:
                - Mon, 24 Aug 2026 20:27:50 GMT
            X-Cloud-Trace-Context:
                - 0e41f2dd690cad8d0131cfc0e7a05a8b
        status: 200 OK
        code: 200
        duration: 78.358791ms
    - id: 9
      request:
        host: raw.githubusercontent.com
        headers:
        url: https://raw.githubusercontent.com/codecheckers/kite_piv_analysis/HEAD/fig04_plane_location.pdf
        method: GET
      response:
        body: '404: Not Found'
        headers:
            Content-Type:
                - text/plain; charset=utf-8
            Source-Age:
                - "50"
            X-Fastly-Request-Id:
                - 9bd3e3fd336211b619290d3c8ee92390f2a8c00f
            X-Github-Edge-Region:
                - fra
        status: 404 Not Found
        code: 404
        duration: 21.759858ms
    - id: 10
      request:
        host: github.com
        headers:
        url: https://github.com/codecheckers/kite_piv_analysis
        method: GET
      response:
        body: '(body dropped: this check reads only the status code)'
        headers:
            Content-Type:
                - text/html; charset=utf-8
            Etag:
                - W/"1f4ce0aebb7d3c5a8206680451ed783e"
            X-Github-Edge-Region:
                - fra
        status: 200 OK
        code: 200
        duration: 29.022369ms
    - id: 11
      request:
        host: zenodo.org
        headers:
        url: https://zenodo.org/api/records/18890103
        method: GET
      response:
            - chunked
        body: '{"created": "2026-03-09T13:07:42.277005+00:00", "modified": "2026-03-09T13:07:42.659900+00:00", "id": 18890103, "conceptrecid": "18890102", "doi": "10.5281/zenodo.18890103", "conceptdoi": "10.5281/zenodo.18890102", "doi_url": "https://doi.org/10.5281/zenodo.18890103", "metadata": {"title": "CODECHECK Certificate 2026-001", "doi": "10.5281/zenodo.18890103", "publication_date": "2026-03-06", "description": "<p>CODECHECK certificate for publication <a href=\"https://doi.org/10.5194/wes-2025-217\"><span lang=\"EN-US\">Flow Field Analysis of a Leading-Edge Inflatable Kite Rigid Scale Model Using Stereoscopic Particle Image Velocimetry</span></a>.</p>\n<p><span lang=\"EN-US\">This codecheck resulted in a partial reproduction of the figures presented in the publication. The authors provided a GitHub repository containing all the necessary code and instructions for reproducing the figures. </span></p>\n<p><span lang=\"EN-US\">Given the runtime of the program is approximately 21 hours, the code was executed on an HPC cluster. Two minor changes were made to the code: 1) the NumPy function &ldquo;trapz&rdquo; was renamed &ldquo;trapezoid&rdquo;, and 2) LaTeX rendering was disabled, as suggested by the author, since it was not available on the HPC system used.</span></p>", "access_right": "open", "creators": [{"name": "Grguric, Josip", "affiliation": "Delft University of Technology", "orcid": "0009-0003-3725-9454"}, {"name": "Quintero, Yasel", "affiliation": "Delft University of Technology", "orcid": "0009-0005-9240-7370"}], "related_identifiers": [{"identifier": "10.5194/wes-2025-217", "relation": "reviews", "resource_type": "publication", "scheme": "doi"}, {"identifier": "https://github.com/codecheckers/kite_piv_analysis", "relation": "isDerivedFrom", "resource_type": "software", "scheme": "url"}], "language": "eng", "resource_type": {"title": "Report", "type": "publication", "subtype": "report"}, "alternate_identifiers": [{"identifier": "http://cdchck.science/register/certs/2026-001"}, {"identifier": "cdchck.science/register/certs/2026-001"}], "license": {"id": "cc-by-4.0"}, "communities": [{"id": "codecheck"}], "relations": {"version": [{"index": 0, "is_last": true, "parent": {"pid_type": "recid", "pid_value": "18890102"}}]}}, "title": "CODECHECK Certificate 2026-001", "links": {"self": "https://zenodo.org/api/records/18890103", "self_html": "https://zenodo.org/records/18890103", "preview_html": "https://zenodo.org/records/18890103?preview=1", "doi": "https://doi.org/10.5281/zenodo.18890103", "self_doi": "https://doi.org/10.5281/zenodo.18890103", "self_doi_html": "https://zenodo.org/doi/10.5281/zenodo.18890103", "reserve_doi": "https://zenodo.org/api/records/18890103/draft/pids/doi", "parent": "https://zenodo.org/api/records/18890102", "parent_html": "https://zenodo.org/records/18890102", "parent_doi": "https://doi.org/10.5281/zenodo.18890102", "parent_doi_html": "https://zenodo.org/doi/10.5281/zenodo.18890102", "self_iiif_manifest": "https://zenodo.org/api/iiif/record:18890103/manifest", "self_iiif_sequence": "https://zenodo.org/api/iiif/record:18890103/sequence/default", "files": "https://zenodo.org/api/records/18890103/files", "media_files": "https://zenodo.org/api/records/18890103/media-files", "thumbnails": {"10": "https://zenodo.org/api/iiif/record:18890103:CODECHECK_certificate_2026-001.pdf/full/%5E10,/0/default.jpg", "50": "https://zenodo.org/api/iiif/record:18890103:CODECHECK_certificate_2026-001.pdf/full/%5E50,/0/default.jpg", "100": "https://zenodo.org/api/iiif/record:18890103:CODECHECK_certificate_2026-001.pdf/full/%5E100,/0/default.jpg", "250": "https://zenodo.org/api/iiif/record:18890103:CODECHECK_certificate_2026-001.pdf/full/%5E250,/0/default.jpg", "750": "https://zenodo.org/api/iiif/record:18890103:CODECHECK_certificate_2026-001.pdf/full/%5E750,/0/default.jpg", "1200": "https://zenodo.org/api/iiif/record:18890103:CODECHECK_certificate_2026-001.pdf/full/%5E1200,/0/default.jpg"}, "archive": "https://zenodo.org/api/records/18890103/files-archive", "archive_media": "https://zenodo.org/api/records/18890103/media-files-archive", "latest": "https://zenodo.org/api/records/18890103/versions/latest", "latest_html": "https://zenodo.org/records/18890103/latest", "versions": "https://zenodo.org/api/records/18890103/versions", "draft": "https://zenodo.org/api/records/18890103/draft", "access_links": "https://zenodo.org/api/records/18890103/access/links", "access_grants": "https://zenodo.org/api/records/18890103/access/grants", "access_users": "https://zenodo.org/api/records/18890103/access/users", "access_request": "https://zenodo.org/api/records/18890103/access/request", "access": "https://zenodo.org/api/records/18890103/access", "communities": "https://zenodo.org/api/records/18890103/communities", "communities-suggestions": "https://zenodo.org/api/records/18890103/communities-suggestions", "request_deletion": "https://zenodo.org/api/records/18890103/request-deletion", "file_modification": "https://zenodo.org/api/records/18890103/file-modification", "quota_increase": "https://zenodo.org/api/records/18890103/quota-increase", "requests": "https://zenodo.org/api/records/18890103/requests"}, "updated": "2026-03-09T13:07:42.659900+00:00", "recid": "18890103", "revision": 4, "files": [{"id": "6249405c-8996-443e-8737-cec17241b5c1", "key": "CODECHECK_certificate_2026-001.pdf", "size": 1994144, "checksum": "md5:80f04e87ca73589adf3b466fbea1bb4a", "links": {"self": "https://zenodo.org/api/records/18890103/files/CODECHECK_certificate_2026-001.pdf/content"}}], "swh": {}, "owners": [{"id": "520116"}], "status": "published", "stats": {"downloads": 108, "unique_downloads": 99, "views": 414, "unique_views": 365, "version_downloads": 108, "version_unique_downloads": 99, "version_unique_views": 365, "version_views": 414}, "state": "done", "submitted": true}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"4"
            Link:
                - <https://zenodo.org/api/records/18890103> ; rel="linkset" ; type="application/linkset+json"
            Retry-After:
                - "14"
            X-Ratelimit-Limit:
                - "133"
            X-Ratelimit-Remaining:
                - "117"
            X-Ratelimit-Reset:
                - "1789557802"
            X-Source:
                - api
        status: 200 OK
        code: 200
        duration: 140.364709ms
    - id: 12
      request:
        host: raw.githubusercontent.com
        headers:
        url: https://raw.githubusercontent.com/codecheckers/register/HEAD/register.csv
        method: GET
      response:
        body: |
            Certificate,Repository,Type,Venue,Issue,Wikidata
            2020-001,github::codecheckers/Piccolo-2020,journal,GigaScience,NA,Q116702174
            2020-002,github::codecheckers/Reproduction-Hancock,community,codecheck,2,Q141269512
            2020-003,github::c[...]
    - id: 13
      request:
        host: raw.githubusercontent.com
        headers:
        url: https://raw.githubusercontent.com/codecheckers/register/HEAD/venues.csv
        method: GET
      response:
        body: |
            name,longname,label,logo_url,website_url,policy_url,publisher,contact_name,contact_email,description,identifiers,wikidata
            GigaScience,GigaScience,journal,https://codecheck.org.uk/img/gigascience_logo.svg,https://academic.oup.com/gigascience,http://gigasc[...]
    - id: 14
      request:
        host: api.github.com
        headers:
        url: https://api.github.com/repos/codecheckers/register/issues/187
        method: GET
      response:
        body: '{"url":"https://api.github.com/repos/codecheckers/register/issues/187","repository_url":"https://api.github.com/repos/codecheckers/register","labels_url":"https://api.github.com/repos/codecheckers/register/issues/187/labels{/name}","comments_url":"https://api.github.com/repos/codecheckers/register/issues/187/comments","events_url":"https://api.github.com/repos/codecheckers/register/issues/187/events","html_url":"https://github.com/codecheckers/register/issues/187","id":4000723026,"node_id":"I_kwDODmS3O87udjBS","number":187,"title":"Jelle Poland, Erik Fritz and Roland Schmehl | 2026-001","user":{"login":"yiquintero","id":126678808,"node_id":"U_kgDOB4z3GA","avatar_url":"https://avatars.githubusercontent.com/u/126678808?v=4","gravatar_id":"","url":"https://api.github.com/users/yiquintero","html_url":"https://github.com/yiquintero","followers_url":"https://api.github.com/users/yiquintero/followers","following_url":"https://api.github.com/users/yiquintero/following{/other_user}","gists_url":"https://api.github.com/users/yiquintero/gists{/gist_id}","starred_url":"https://api.github.com/users/yiquintero/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/yiquintero/subscriptions","organizations_url":"https://api.github.com/users/yiquintero/orgs","repos_url":"https://api.github.com/users/yiquintero/repos","events_url":"https://api.github.com/users/yiquintero/events{/privacy}","received_events_url":"https://api.github.com/users/yiquintero/received_events","type":"User","user_view_type":"public","site_admin":false},"labels":[{"id":2104386107,"node_id":"MDU6TGFiZWwyMTA0Mzg2MTA3","url":"https://api.github.com/repos/codecheckers/register/labels/id%20assigned","name":"id assigned","color":"ba5e21","default":false,"description":"CODECHECK ID is assigned, please note when assigning new ones","archived_at":null,"archived_by":null}],"state":"closed","locked":false,"assignees":[{"login":"nuest","id":1325054,"node_id":"MDQ6VXNlcjEzMjUwNTQ=","avatar_url":"https://avatars.githubusercontent.com/u/1325054?v=4","gravatar_id":"","url":"https://api.github.com/users/nuest","html_url":"https://github.com/nuest","followers_url":"https://api.github.com/users/nuest/followers","following_url":"https://api.github.com/users/nuest/following{/other_user}","gists_url":"https://api.github.com/users/nuest/gists{/gist_id}","starred_url":"https://api.github.com/users/nuest/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/nuest/subscriptions","organizations_url":"https://api.github.com/users/nuest/orgs","repos_url":"https://api.github.com/users/nuest/repos","events_url":"https://api.github.com/users/nuest/events{/privacy}","received_events_url":"https://api.github.com/users/nuest/received_events","type":"User","user_view_type":"public","site_admin":false}],"milestone":null,"comments":1,"created_at":"2026-02-27T12:08:06Z","updated_at":"2026-03-09T13:21:54Z","closed_at":"2026-03-09T13:21:54Z","assignee":{"login":"nuest","id":1325054,"node_id":"MDQ6VXNlcjEzMjUwNTQ=","avatar_url":"https://avatars.githubusercontent.com/u/1325054?v=4","gravatar_id":"","url":"https://api.github.com/users/nuest","html_url":"https://github.com/nuest","followers_url":"https://api.github.com/users/nuest/followers","following_url":"https://api.github.com/users/nuest/following{/other_user}","gists_url":"https://api.github.com/users/nuest/gists{/gist_id}","starred_url":"https://api.github.com/users/nuest/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/nuest/subscriptions","organizations_url":"https://api.github.com/users/nuest/orgs","repos_url":"https://api.github.com/users/nuest/repos","events_url":"https://api.github.com/users/nuest/events{/privacy}","received_events_url":"https://api.github.com/users/nuest/received_events","type":"User","user_view_type":"public","site_admin":false},"author_association":"NONE","issue_field_values":[],"type":null,"active_lock_reason":null,"sub_issues_summary":{"total":0,"completed":0,"percent_completed":0},"issue_dependencies_summary":{"blocked_by":0,"total_blocked_by":0,"blocking":0,"total_blocking":0},"body":"**Work**: https://doi.org/10.5194/wes-2025-217\n**Repository**: https://github.com/jellepoland/kite_piv_analysis\n**Data**: https://doi.org/10.5281/zenodo.17395913\n\nThis CodeCheck is part of the [TU Delft Digital Competence Centre (DCC)](https://github.com/codecheckers/register/issues/dcc.tudelft.nl) and [4TU.ResearchData](https://data.4tu.nl/) collaboration. The codecheck will be carried out by members of the DCC.","closed_by":{"login":"nuest","id":1325054,"node_id":"MDQ6VXNlcjEzMjUwNTQ=","avatar_url":"https://avatars.githubusercontent.com/u/1325054?v=4","gravatar_id":"","url":"https://api.github.com/users/nuest","html_url":"https://github.com/nuest","followers_url":"https://api.github.com/users/nuest/followers","following_url":"https://api.github.com/users/nuest/following{/other_user}","gists_url":"https://api.github.com/users/nuest/gists{/gist_id}","starred_url":"https://api.github.com/users/nuest/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/nuest/subscriptions","organizations_url":"https://api.github.com/users/nuest/orgs","repos_url":"https://api.github.com/users/nuest/repos","events_url":"https://api.github.com/users/nuest/events{/privacy}","received_events_url":"https://api.github.com/users/nuest/received_events","type":"User","user_view_type":"public","site_admin":false},"reactions":{"url":"https://api.github.com/repos/codecheckers/register/issues/187/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"timeline_url":"https://api.github.com/repos/codecheckers/register/issues/187/timeline","performed_via_github_app":null,"state_reason":"completed","pinned_comment":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"36f9a8ac125a3f518edaac21732dd5875cbc9b496c519f7dce86c75920263974"'
            Last-Modified:
                - Tue, 15 Sep 2026 09:18:27 GMT
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Edge-Region:
                - fra
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "60"
            X-Ratelimit-Remaining:
                - "37"
            X-Ratelimit-Reset:
                - "1789560507"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "23"
        status: 200 OK
        code: 200
        duration: 25.962856ms
[...]
