---
version: 2
interactions:
    - id: 0
      request:
        host: doi.org
        headers:
        url: https://doi.org/10.5281/zenodo.18890103
        method: GET
      response:
        body: |-
            <html><head><title>Handle Redirect</title></head>
            <body><a href="https://zenodo.org/doi/10.5281/zenodo.18890103">https://zenodo.org/doi/10.5281/zenodo.18890103</a></body></html>
        headers:
            Content-Type:
                - text/html;charset=utf-8
            Location:
                - https://zenodo.org/doi/10.5281/zenodo.18890103
        status: 302 Found
        code: 302
        duration: 133.267364ms
    - id: 1
      request:
        host: ""
        headers:
        url: https://zenodo.org/doi/10.5281/zenodo.18890103
        method: GET
      response:
        body: |
            <!doctype html>
            <html lang=en>
            <title>Redirecting...</title>
            <h1>Redirecting...</h1>
            <p>You should be redirected automatically to the target URL: <a href="https://zenodo.org/records/18890103">https://zenodo.org/records/18890103</a>. If not, click the link.
        headers:
            Content-Type:
                - text/html; charset=utf-8
            Location:
                - https://zenodo.org/records/18890103
            Retry-After:
                - "60"
            X-Ratelimit-Limit:
                - "133"
            X-Ratelimit-Remaining:
                - "132"
            X-Ratelimit-Reset:
                - "1789761620"
            X-Source:
                - ui
        status: 302 FOUND
        code: 302
        duration: 284.292427ms
    - id: 2
      request:
        host: ""
        headers:
        url: https://zenodo.org/records/18890103
        method: GET
      response:
            - chunked
        body: '(body dropped: this check reads only the status code)'
        headers:
            Content-Type:
                - text/html; charset=utf-8
            Link:
                - <https://orcid.org/0009-0003-3725-9454> ; rel="author" , <https://orcid.org/0009-0005-9240-7370> ; rel="author" , <https://doi.org/10.5281/zenodo.18890103> ; rel="cite-as" , <https://zenodo.org/api/records/18890103> ; rel="describedby" ; type="application/dcat+xml" , <https://zenodo.org/api/records/18890103> ; rel="describedby" ; type="application/json" , <https://zenodo.org/api/records/18890103> ; rel="describedby" ; type="application/ld+json" , <https://zenodo.org/api/record[...]
    - id: 3
      request:
        host: pub.orcid.org
        headers:
        url: https://pub.orcid.org/v3.0/0000-0003-3164-5648/person
        method: GET
      response:
        body: '{"last-modified-date":{"value":1674295710314},"name":{"created-date":{"value":1657618979696},"last-modified-date":{"value":1657709583175},"given-names":{"value":"Jelle Agatho Wilhelm"},"family-name":{"value":"Poland"},"credit-name":{"value":"J.A.W.Poland"},"source":null,"visibility":"public","path":"0000-0003-3164-5648"},"other-names":{"last-modified-date":null,"other-name":[],"path":"/0000-0003-3164-5648/other-names"},"biography":null,"researcher-urls":{"last-modified-date":{"value":1668746464741},"researcher-url":[{"created-date":{"value":1668746464741},"last-modified-date":{"value":1668746464741},"source":{"source-orcid":null,"source-client-id":{"uri":"https://orcid.org/client/APP-K1RFUENXTHHY2XLK","path":"APP-K1RFUENXTHHY2XLK","host":"orcid.org"},"source-name":{"value":"Delft University of Technology"},"assertion-origin-orcid":null,"assertion-origin-client-id":null,"assertion-origin-name":null},"url-name":"Delft University of Technology profile page","url":{"value":"https://research.tudelft.nl/en/persons/c115aaaf-d737-4e21-a12e-4516efd89203"},"visibility":"public","path":"/0000-0003-3164-5648/researcher-urls/3494966","put-code":3494966,"display-index":0}],"path":"/0000-0003-3164-5648/researcher-urls"},"emails":{"last-modified-date":null,"email":[],"path":"/0000-0003-3164-5648/email"},"addresses":{"last-modified-date":null,"address":[],"path":"/0000-0003-3164-5648/address"},"keywords":{"last-modified-date":null,"keyword":[],"path":"/0000-0003-3164-5648/keywords"},"external-identifiers":{"last-modified-date":{"value":1674295710314},"external-identifier":[{"created-date":{"value":1674295710314},"last-modified-date":{"value":1674295710314},"source":{"source-orcid":null,"source-client-id":{"uri":"https://orcid.org/client/APP-WRQOUAK78G5F7GMD","path":"APP-WRQOUAK78G5F7GMD","host":"orcid.org"},"source-name":{"value":"Multidisciplinary Digital Publishing Institute"},"assertion-origin-orcid":null,"assertion-origin-client-id":null,"assertion-origin-name":null},"external-id-type":"SciProfiles","external-id-value":"2728943","external-id-url":{"value":"https://sciprofiles.com/profile/2728943"},"external-id-relationship":"self","visibility":"public","path":"/0000-0003-3164-5648/external-identifiers/2859062","put-code":2859062,"display-index":0}],"path":"/0000-0003-3164-5648/external-identifiers"},"path":"/0000-0003-3164-5648/person"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Target:
                - reg-prod-papi-use2-a1
            X-Via:
                - b2-newvpc
        status: 200 OK
        code: 200
        duration: 239.713614ms
[...]
    - id: 5
      request:
        host: pub.orcid.org
        headers:
        url: https://pub.orcid.org/v3.0/0000-0002-4112-841X/person
        method: GET
      response:
        body: '{"last-modified-date":{"value":1784863168555},"name":{"created-date":{"value":1460759031136},"last-modified-date":{"value":1460759031136},"given-names":{"value":"Roland"},"family-name":{"value":"Schmehl"},"credit-name":null,"source":null,"visibility":"public","path":"0000-0002-4112-841X"},"other-names":{"last-modified-date":{"value":1607431158718},"other-name":[{"created-date":{"value":1607431158718},"last-modified-date":{"value":1607431158718},"source":{"source-orcid":{"uri":"https://orcid.org/0000-0002-4112-841X","path":"0000-0002-4112-841X","host":"orcid.org"},"source-client-id":null,"source-name":{"value":"Roland Schmehl"},"assertion-origin-orcid":null,"assertion-origin-client-id":null,"assertion-origin-name":null},"content":"R. Schmehl","visibility":"public","path":"/0000-0002-4112-841X/other-names/1525658","put-code":1525658,"display-index":1}],"path":"/0000-0002-4112-841X/other-names"},"biography":{"created-date":{"value":1460759031138},"last-modified-date":{"value":1725537124710},"content":"Roland Schmehl graduated in Mechanical Engineering from Karlsruhe University. In 2003, he received a PhD for his research on computational modeling of multi-phase flows and liquid droplet dynamics. During his post-doctoral re[...]
[...]
    - id: 8
      request:
        host: doi.org
        headers:
        url: https://doi.org/10.5194/wes-2025-217
        method: GET
      response:
        body: |-
            <html><head><title>Handle Redirect</title></head>
            <body><a href="https://wes.copernicus.org/articles/11/1461/2026/wes-11-1461-2026-discussion.html">https://wes.copernicus.org/articles/11/1461/2026/wes-11-1461-2026-discussion.html</a></body></html>
        headers:
            Content-Type:
                - text/html;charset=utf-8
            Location:
                - https://wes.copernicus.org/articles/11/1461/2026/wes-11-1461-2026-discussion.html
        status: 302 Found
        code: 302
        duration: 55.664667ms
    - id: 9
      request:
        host: ""
        headers:
        url: https://wes.copernicus.org/articles/11/1461/2026/wes-11-1461-2026-discussion.html
        method: GET
      response:
        body: '(body dropped: this check reads only the status code)'
        headers:
            Content-Type:
                - text/html
        status: 200 OK
        code: 200
        duration: 104.327417ms
    - id: 10
      request:
        host: api.openalex.org
        form:
            filter:
                - doi:10.5194/wes-2025-217
            mailto:
                - chekhov@cdchck.science
        headers:
        url: https://api.openalex.org/works?filter=doi:10.5194%2Fwes-2025-217&mailto=chekhov%40cdchck.science
        method: GET
      response:
        body: '{"meta": {"count": 0, "db_response_time_ms": 8, "page": 1, "per_page": 25, "groups_count": null, "x_query": {"oql": "works where DOI is (10.5194/wes-2025-217)", "oqo": {"get_rows": "works", "filter_rows": [{"column_id": "doi", "value": "10.5194/wes-2025-217"}]}, "url": "/works?filter=doi:10.5194%2Fwes-2025-217"}, "cost_usd": 0.0001}, "results": [], "group_by": []}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Cost-Usd:
                - "0.0001"
            X-Ratelimit-Credits-Used:
                - "1"
            X-Ratelimit-Limit:
                - "1000"
            X-Ratelimit-Limit-Usd:
                - "0.1"
            X-Ratelimit-Onetime-Remaining:
                - "0"
            X-Ratelimit-Prepaid-Remaining-Usd:
                - "0"
            X-Ratelimit-Remaining:
                - "900"
            X-Ratelimit-Remaining-Usd:
                - "0.09"
            X-Ratelimit-Reset:
                - "14438"
        status: 200 OK
        code: 200
        duration: 384.011057ms
    - id: 11
      request:
        host: github.com
        headers:
        url: https://github.com/codecheckers/kite_piv_analysis
        method: GET
      response:
        body: '(body dropped: this check reads only the status code)'
        headers:
            Content-Type:
                - text/html; charset=utf-8
            Etag:
                - W/"5984fd7d42b46fe93bd069dd7c5e9673"
            X-Github-Edge-Region:
                - fra
        status: 200 OK
        code: 200
        duration: 873.14484ms
    - id: 12
      request:
        host: zenodo.org
        headers:
        url: https://zenodo.org/api/records/18890103
        method: GET
      response:
            - chunked
        body: '{"created": "2026-03-09T13:07:42.277005+00:00", "modified": "2026-03-09T13:07:42.659900+00:00", "id": 18890103, "conceptrecid": "18890102", "doi": "10.5281/zenodo.18890103", "conceptdoi": "10.5281/zenodo.18890102", "doi_url": "https://doi.org/10.5281/zenodo.18890103", "metadata": {"title": "CODECHECK Certificate 2026-001", "doi": "10.5281/zenodo.18890103", "publication_date": "2026-03-06", "description": "<p>CODECHECK certificate for publication <a href=\"https://doi.org/10.5194/wes-2025-217\"><span lang=\"EN-US\">Flow Field Analysis of a Leading-Edge Inflatable Kite Rigid Scale Model Using Stereoscopic Particle Image Velocimetry</span></a>.</p>\n<p><span lang=\"EN-US\">This codecheck resulted in a partial reproduction of the figures presented in the publication. The authors provided a GitHub repository containing all the necessary code and instructions for reproducing the figures. </span></p>\n<p><span lang=\"EN-US\">Given the runtime of the program is approximately 21 hours, the code was executed on an HPC cluster. Two minor changes were made to the code: 1) the NumPy function &ldquo;trapz&rdquo; was renamed &ldquo;trapezoid&rdquo;, and 2) LaTeX rendering was disabled, as suggested by the author, since it was not available on the HPC system used.</span></p>", "access_right": "open", "creators": [{"name": "Grguric, Josip", "affiliation": "Delft University of Technology", "orcid": "0009-0003-3725-9454"}, {"name": "Quintero, Yasel", "affiliation": "Delft University of Technology", "orcid": "0009-0005-9240-7370"}], "related_identifiers": [{"identifier": "10.5194/wes-2025-217", "relation": "reviews", "resource_type": "publication", "scheme": "doi"}, {"identifier": "https://github.com/codecheckers/kite_piv_analysis", "relation": "isDerivedFrom", "resource_type": "software", "scheme": "url"}], "language": "eng", "resource_type": {"title": "Report", "type": "publication", "subtype": "report"}, "alternate_identifiers": [{"identifier": "http://cdchck.science/register/certs/2026-001"}, {"identifier": "cdchck.science/register/certs/2026-001"}], "license": {"id": "cc-by-4.0"}, "communities": [{"id": "codecheck"}], "relations": {"version": [{"index": 0, "is_last": true, "parent": {"pid_type": "recid", "pid_value": "18890102"}}]}}, "title": "CODECHECK Certificate 2026-001", "links": {"self": "https://zenodo.org/api/records/18890103", "self_html": "https://zenodo.org/records/18890103", "preview_html": "https://zenodo.org/records/18890103?preview=1", "doi": "https://doi.org/10.5281/zenodo.18890103", "self_doi": "https://doi.org/10.5281/zenodo.18890103", "self_doi_html": "https://zenodo.org/doi/10.5281/zenodo.18890103", "reserve_doi": "https://zenodo.org/api/records/18890103/draft/pids/doi", "parent": "https://zenodo.org/api/records/18890102", "parent_html": "https://zenodo.org/records/18890102", "parent_doi": "https://doi.org/10.5281/zenodo.18890102", "parent_doi_html": "https://zenodo.org/doi/10.5281/zenodo.18890102", "self_iiif_manifest": "https://zenodo.org/api/iiif/record:18890103/manifest", "self_iiif_sequence": "https://zenodo.org/api/iiif/record:18890103/sequence/default", "files": "https://zenodo.org/api/records/18890103/files", "media_files": "https://zenodo.org/api/records/18890103/media-files", "thumbnails": {"10": "https://zenodo.org/api/iiif/record:18890103:CODECHECK_certificate_2026-001.pdf/full/%5E10,/0/default.jpg", "50": "https://zenodo.org/api/iiif/record:18890103:CODECHECK_certificate_2026-001.pdf/full/%5E50,/0/default.jpg", "100": "https://zenodo.org/api/iiif/record:18890103:CODECHECK_certificate_2026-001.pdf/full/%5E100,/0/default.jpg", "250": "https://zenodo.org/api/iiif/record:18890103:CODECHECK_certificate_2026-001.pdf/full/%5E250,/0/default.jpg", "750": "https://zenodo.org/api/iiif/record:18890103:CODECHECK_certificate_2026-001.pdf/full/%5E750,/0/default.jpg", "1200": "https://zenodo.org/api/iiif/record:18890103:CODECHECK_certificate_2026-001.pdf/full/%5E1200,/0/default.jpg"}, "archive": "https://zenodo.org/api/records/18890103/files-archive", "archive_media": "https://zenodo.org/api/records/18890103/media-files-archive", "latest": "https://zenodo.org/api/records/18890103/versions/latest", "latest_html": "https://zenodo.org/records/18890103/latest", "versions": "https://zenodo.org/api/records/18890103/versions", "draft": "https://zenodo.org/api/records/18890103/draft", "access_links": "https://zenodo.org/api/records/18890103/access/links", "access_grants": "https://zenodo.org/api/records/18890103/access/grants", "access_users": "https://zenodo.org/api/records/18890103/access/users", "access_request": "https://zenodo.org/api/records/18890103/access/request", "access": "https://zenodo.org/api/records/18890103/access", "communities": "https://zenodo.org/api/records/18890103/communities", "communities-suggestions": "https://zenodo.org/api/records/18890103/communities-suggestions", "request_deletion": "https://zenodo.org/api/records/18890103/request-deletion", "file_modification": "https://zenodo.org/api/records/18890103/file-modification", "quota_increase": "https://zenodo.org/api/records/18890103/quota-increase", "requests": "https://zenodo.org/api/records/18890103/requests"}, "updated": "2026-03-09T13:07:42.659900+00:00", "recid": "18890103", "revision": 4, "files": [{"id": "6249405c-8996-443e-8737-cec17241b5c1", "key": "CODECHECK_certificate_2026-001.pdf", "size": 1994144, "checksum": "md5:80f04e87ca73589adf3b466fbea1bb4a", "links": {"self": "https://zenodo.org/api/records/18890103/files/CODECHECK_certificate_2026-001.pdf/content"}}], "swh": {}, "owners": [{"id": "520116"}], "status": "published", "stats": {"downloads": 109, "unique_downloads": 100, "views": 428, "unique_views": 379, "version_downloads": 109, "version_unique_downloads": 100, "version_unique_views": 379, "version_views": 428}, "state": "done", "submitted": true}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"4"
            Link:
                - <https://zenodo.org/api/records/18890103> ; rel="linkset" ; type="application/linkset+json"
            Retry-After:
                - "56"
            X-Ratelimit-Limit:
                - "133"
            X-Ratelimit-Remaining:
                - "130"
            X-Ratelimit-Reset:
                - "1789761620"
            X-Source:
                - api
        status: 200 OK
        code: 200
        duration: 302.016312ms
    - id: 13
      request:
        host: raw.githubusercontent.com
        headers:
        url: https://raw.githubusercontent.com/codecheckers/register/HEAD/register.csv
        method: GET
      response:
        body: |
            Certificate,Repository,Type,Venue,Issue,Wikidata
            2020-001,github::codecheckers/Piccolo-2020,journal,GigaScience,NA,Q116702174
            2020-002,github::codecheckers/Reproduction-Hancock,community,codecheck,2,Q141269512
            2020-003,github::c[...]
    - id: 14
      request:
        host: raw.githubusercontent.com
        headers:
        url: https://raw.githubusercontent.com/codecheckers/register/HEAD/venues.csv
        method: GET
      response:
        body: |
            name,longname,label,logo_url,website_url,policy_url,publisher,contact_name,contact_email,description,identifiers,wikidata,fediverse,hashtags
            GigaScience,GigaScience,journal,https://codecheck.org.uk/img/gigascience_logo.svg,https://academic.oup.com/gigasc[...]
    - id: 15
      request:
        host: api.github.com
        headers:
        url: https://api.github.com/repos/codecheckers/register/issues/187
        method: GET
      response:
        body: '{"url":"https://api.github.com/repos/codecheckers/register/issues/187","repository_url":"https://api.github.com/repos/codecheckers/register","labels_url":"https://api.github.com/repos/codecheckers/register/issues/187/labels{/name}","comments_url":"https://api.github.com/repos/codecheckers/register/issues/187/comments","events_url":"https://api.github.com/repos/codecheckers/register/issues/187/events","html_url":"https://github.com/codecheckers/register/issues/187","id":4000723026,"node_id":"I_kwDODmS3O87udjBS","number":187,"title":"Jelle Poland, Erik Fritz and Roland Schmehl | 2026-001","user":{"login":"yiquintero","id":126678808,"node_id":"U_kgDOB4z3GA","avatar_url":"https://avatars.githubusercontent.com/u/126678808?v=4","gravatar_id":"","url":"https://api.github.com/users/yiquintero","html_url":"https://github.com/yiquintero","followers_url":"https://api.github.com/users/yiquintero/followers","following_url":"https://api.github.com/users/yiquintero/following{/other_user}","gists_url":"https://api.github.com/users/yiquintero/gists{/gist_id}","starred_url":"https://api.github.com/users/yiquintero/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/yiquintero/subscriptions","organizations_url":"https://api.github.com/users/yiquintero/orgs","repos_url":"https://api.github.com/users/yiquintero/repos","events_url":"https://api.github.com/users/yiquintero/events{/privacy}","received_events_url":"https://api.github.com/users/yiquintero/received_events","type":"User","user_view_type":"public","site_admin":false},"labels":[{"id":2104386107,"node_id":"MDU6TGFiZWwyMTA0Mzg2MTA3","url":"https://api.github.com/repos/codecheckers/register/labels/id%20assigned","name":"id assigned","color":"ba5e21","default":false,"description":"CODECHECK ID is assigned, please note when assigning new ones","archived_at":null,"archived_by":null}],"state":"closed","locked":false,"assignees":[{"login":"nuest","id":1325054,"node_id":"MDQ6VXNlcjEzMjUwNTQ=","avatar_url":"https://avatars.githubusercontent.com/u/1325054?v=4","gravatar_id":"","url":"https://api.github.com/users/nuest","html_url":"https://github.com/nuest","followers_url":"https://api.github.com/users/nuest/followers","following_url":"https://api.github.com/users/nuest/following{/other_user}","gists_url":"https://api.github.com/users/nuest/gists{/gist_id}","starred_url":"https://api.github.com/users/nuest/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/nuest/subscriptions","organizations_url":"https://api.github.com/users/nuest/orgs","repos_url":"https://api.github.com/users/nuest/repos","events_url":"https://api.github.com/users/nuest/events{/privacy}","received_events_url":"https://api.github.com/users/nuest/received_events","type":"User","user_view_type":"public","site_admin":false}],"milestone":null,"comments":1,"created_at":"2026-02-27T12:08:06Z","updated_at":"2026-03-09T13:21:54Z","closed_at":"2026-03-09T13:21:54Z","assignee":{"login":"nuest","id":1325054,"node_id":"MDQ6VXNlcjEzMjUwNTQ=","avatar_url":"https://avatars.githubusercontent.com/u/1325054?v=4","gravatar_id":"","url":"https://api.github.com/users/nuest","html_url":"https://github.com/nuest","followers_url":"https://api.github.com/users/nuest/followers","following_url":"https://api.github.com/users/nuest/following{/other_user}","gists_url":"https://api.github.com/users/nuest/gists{/gist_id}","starred_url":"https://api.github.com/users/nuest/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/nuest/subscriptions","organizations_url":"https://api.github.com/users/nuest/orgs","repos_url":"https://api.github.com/users/nuest/repos","events_url":"https://api.github.com/users/nuest/events{/privacy}","received_events_url":"https://api.github.com/users/nuest/received_events","type":"User","user_view_type":"public","site_admin":false},"author_association":"MEMBER","issue_field_values":[],"type":null,"active_lock_reason":null,"sub_issues_summary":{"total":0,"completed":0,"percent_completed":0},"issue_dependencies_summary":{"blocked_by":0,"total_blocked_by":0,"blocking":0,"total_blocking":0},"body":"**Work**: https://doi.org/10.5194/wes-2025-217\n**Repository**: https://github.com/jellepoland/kite_piv_analysis\n**Data**: https://doi.org/10.5281/zenodo.17395913\n\nThis CodeCheck is part of the [TU Delft Digital Competence Centre (DCC)](https://github.com/codecheckers/register/issues/dcc.tudelft.nl) and [4TU.ResearchData](https://data.4tu.nl/) collaboration. The codecheck will be carried out by members of the DCC.","closed_by":{"login":"nuest","id":1325054,"node_id":"MDQ6VXNlcjEzMjUwNTQ=","avatar_url":"https://avatars.githubusercontent.com/u/1325054?v=4","gravatar_id":"","url":"https://api.github.com/users/nuest","html_url":"https://github.com/nuest","followers_url":"https://api.github.com/users/nuest/followers","following_url":"https://api.github.com/users/nuest/following{/other_user}","gists_url":"https://api.github.com/users/nuest/gists{/gist_id}","starred_url":"https://api.github.com/users/nuest/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/nuest/subscriptions","organizations_url":"https://api.github.com/users/nuest/orgs","repos_url":"https://api.github.com/users/nuest/repos","events_url":"https://api.github.com/users/nuest/events{/privacy}","received_events_url":"https://api.github.com/users/nuest/received_events","type":"User","user_view_type":"public","site_admin":false},"reactions":{"url":"https://api.github.com/repos/codecheckers/register/issues/187/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"timeline_url":"https://api.github.com/repos/codecheckers/register/issues/187/timeline","performed_via_github_app":null,"state_reason":"completed","pinned_comment":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"bb827dd612c28431353185873a0486eb0d84710e14f69868880d55def751c849"
            Github-Authentication-Token-Expiration:
                - 2027-09-19 09:47:28 UTC
            Last-Modified:
                - Wed, 16 Sep 2026 15:40:54 GMT
            X-Accepted-Github-Permissions:
                - issues=read
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Edge-Region:
                - fra
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4935"
            X-Ratelimit-Reset:
                - "1789762924"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "65"
        status: 200 OK
        code: 200
        duration: 545.836768ms
[...]
